body {
    background: url("https://www.teahub.io/photos/full/353-3531306_olympics-weightlifting-wallpaper-fitness-backgrounds.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Barlow', sans-serif;
    font-family: 'Dongle', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: white;
}

#btnText {
    font-family: 'Barlow', sans-serif;
    font-family: 'Dongle', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

img {
    width: 50%;
    margin: auto;
    display: block;
}

input {
    margin-top: 10px;
}

button {
    margin-top: 10px;
}

.card {
    background-color: gray;
    padding: 10px;
}

#startScreen {
    width: 40%;
    margin: auto;
    display: auto;
    margin-top: 200px;
}

h1 {
    padding: 20px;
}

h2 {
    padding: 20px;
}

h3 {
    text-transform: capitalize;
    padding: 5px;
    border-bottom: 1px dashed #EF233C;
}

h4 {
    font-size: 15px;
    text-transform: capitalize;
}

h5 {
    background-color: black;
    padding: 20px;
}

#musicHTML {
    background-color: black;
}

.hiddenBtns {
    float: right;
}

.container {
    font-family: 'Barlow', sans-serif;
    font-family: 'Dongle', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;

}

.d-menu {
    font-family: 'Barlow', sans-serif;
    font-family: 'Dongle', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.dropdown-toggle {
    font-family: 'Barlow', sans-serif;
    font-family: 'Dongle', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.button {
    font-family: 'Barlow', sans-serif;
    font-family: 'Dongle', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

#inputWorkout {
    font-family: 'Barlow', sans-serif;
    font-family: 'Dongle', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
