body {
    background-color: gray;
}

img {
    width: 50%;
    margin: auto;
    display: block;
}
input {
    margin-top: 10px;
}
button {
    margin-top: 10px;
}
.card {
    padding: 10px;
}

h1 {
    padding: 20px;
}

#musicHTML {
    background-color: black;
}

.hiddenBtns {
    float: right;
}