body {
    background: url("https://www.teahub.io/photos/full/353-3531306_olympics-weightlifting-wallpaper-fitness-backgrounds.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img {
    width: 50%;
    margin: auto;
    display: block;
}

input {
    margin-top: 10px;
}

button {
    margin-top: 10px;
}

h1 {
    padding: 20px;
}

h2 {
    padding: 20px;
}

h3 {
    text-transform: capitalize;
    padding: 5px;
    border-bottom: 1px dashed #EF233C;
}

h4 {
    font-size: 15px;
    text-transform: capitalize;
}

#musicHTML {
    background-color: black;
}

#startScreen {
    width: 40%;
    margin: auto;
    display: auto;
    margin-top: 200px;
}

.card {
    background-color: gray;
    padding: 10px;
}

.hiddenBtns {
    float: right;
}